.reviews {
    width: 80%;
    margin: 0 auto;
    transition: .55s;
}
.reviews:hover {
    background-color: #f2f2f2;
}
.reviews h3 {
    text-align: center;
}
.reviews img {
    width: 40%;
    object-fit: cover;
}
.rec-pagination {
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
    .reviews {
        width: 100%;
    }
    .reviews button.rec-arrow-left {
        margin-left: 28px;
        width: 30px;
        height: 30px;
        min-width: 30px;
        line-height: 30px;
        font-size: 0.75em;
    }
    .reviews button.rec-arrow-right {
        margin-right: 20px;
        width: 30px;
        height: 30px;
        min-width: 30px;
        line-height: 30px;
        font-size: 0.75em;
    }
}




