.reviews {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    transition: .55s;
}
.reviews:hover {
    background-color: #f2f2f2;
}
.reviews h3 {
    text-align: center;
}
.reviews img {
    width: 40%;
    object-fit: cover;
}