.reviews {
    width: 80%;
    margin: 0 auto;
    transition: .55s;
}
.reviews:hover {
    background-color: #f2f2f2;
}
.reviews h3 {
    text-align: center;
}
.reviews img {
    width: 70%;
    object-fit: cover;
}
.rec-pagination {
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
    .reviews {
        width: 100%;
    }
}