main {
    background: url(../../../images/main_bgc.jpg);
    height: 90vh;
    padding-top: 100px;
    background-position: center;
    background-size: cover;
    max-width: 100%;
}
main .main_name {
    margin: 2% 0 0 10%;
}
main .main_name h3 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 6rem;
}
main button {
    border: 1px solid #fff;
    outline: none;
    border-radius: 8px;
    color: #fff;
    padding: 12px 25px;
    text-align: center;
    cursor: pointer;
    margin: 30px 0 0 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition: .55s;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
main button:hover {
    background-color: rgba(126, 217, 86, 0.7);
}
main button a {
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 1024px) {
    main .main_name h3 {
        font-size: 5rem;
    }
}
@media screen and (max-width: 768px) {
    main .main_name h3 {
        font-size: 4rem;
    }
}
@media screen and (max-width: 425px) {
    main .main_name {
        margin-top: 10%;
    }
    main .main_name h3 {
        font-size: 2rem;
    }
    main button {
        margin: 10px 0 0 0;
        font-size: 12px;
    }
}