main {
    background: url(../../../images/main_bgc.jpg);
    height: 90vh;
    padding-top: 100px;
    background-position: center;
    max-width: 100%;
}
main .main_name {
    margin: 2% 0 0 10%;
}
main .main_name h3 {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 6rem;
}
main button {
    border: 1px solid #fff;
    outline: none;
    border-radius: 8px;
    color: #fff;
    padding: 12px 25px;
    text-align: center;
    cursor: pointer;
    margin: 4px 2px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: .55s;
    position: relative;
    left: 46%;
}
main button:hover {
    background-color: rgba(126, 217, 86, 0.7);
}
main button a {
    color: #fff;
    text-decoration: none;
}