.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    font-size: 1.05rem;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 3px 5px #ccc;
    position: fixed;
    z-index: 9999;
}
.header a {
    height: 88px;
    width: 88px;
    margin-top: 11px;
}
.header a img {
    height: 88px;
    width: 88px;
}


#header_links {
    position: relative;
}

#header_links ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

#header_links ul li {
    list-style-type: none;
    margin-left: 12px;
}

#header_links ul li a {
    text-decoration: none;
    white-space: nowrap;
}