.footer {
    height: 75px;
    border: 1px solid black;
}

.footer ul {
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.footer ul li {
    list-style-type: none;
}

.footer ul li a {
    text-decoration: none;
    margin-left: 16px;
}

.footer ul li a img {
    height: 52px;
    width: 52px;
}