.general_services {
    background-color: rgba(0, 0, 0, 0.09);
}
.services {
    margin: 0 auto;
    width: 80%;
}
.services h3 {
    text-align: center;
    margin: 0;
    padding: 15px 0 15px 0;
}
.services ul {
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}
.services ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 20px;
    border: 1px solid white;
    width: 250px;
    padding: 8px 16px;
    transition: .55s;
}
.services ul li:hover {
    background-color: rgba(126, 217, 86, 0.7);
}
.services ul li img {
    width: 88px;
    height: 88px;
    margin: 0 auto;
}

#our_work ul {
    padding: 0;
    display: inline-block;
}
#our_work ul li {
    list-style-type: circle;
    display: list-item;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
}