.general_services {
    background-color: rgba(0, 0, 0, 0.09);
}
.services {
    margin: 0 auto;
    width: 80%;
}
.services h3 {
    text-align: center;
    padding: 0;
    margin: 0;
}
.services ul {
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 20px;
    border: 1px solid white;
    width: 250px;
}
.services ul li img {
    width: 88px;
    height: 88px;
}
.services ul li p {
    padding: 0;
}